body {
  background: #ccc;
}

#Header a:hover {
  color: #fff;
}

#bg-img {
  background: url("https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 800px;
}

#About {
  margin-top: -200px;
}

#About .fa {
  color: #fff;
}

#About span {
  padding: 10px 20px 10px 20px;
}

#About hr {
  border-width: 2px;
  margin-top: 06px;
}

#Skills span {
  padding: 10px 20px 10px 20px;
}

#Skills hr {
  border-width: 2px;
  margin-top: 06px;
}

#Experience span {
  padding: 10px 20px 10px 20px;
}

#Experience hr {
  border-width: 2px;
  margin-top: 06px;
}

#logo {
  height: 228px;
}

#Experience .card {
  border-top: 3px solid greenyellow;
}

#Contact span {
  padding: 10px 20px 10px 20px;
}
#Contact hr {
  border-width: 2px;
  margin-top: 06px;
}

#photo {
  height: 300px;
}
